# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Environment variables and secrets
.env

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/
17*/
*.zip


# IDE files
.vscode/
.idea/

# Build files
build/
dist/
*.egg-info/
